<!DOCTYPE html>
<html>
<head>
  <title>Gobblr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>

<body>

  <%= link_to "/", class: "header" do %>
  <header>
    <h1>Gobblr</h1>
  </header>
  <% end %>

  <nav>
    <%= link_to "Recipes", recipes_path %> |
    <%= link_to "Ingredients", ingredients_path %> |
    <% if current_user %>
      <%= link_to 'Signout', destroy_user_session_path, :method => :delete %>
    <% else %>
      <%= link_to 'Signup', new_user_registration_path %> |
      <%= link_to 'Login', new_user_session_path %>
    <% end %>
  </nav>


<%= yield %>
</body>
</html>
